@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .filter {
    filter: brightness(1.1) contrast(1.1);
  }
  
  .group-hover\:filter-\[none\] {
    filter: none !important;
  }
  
}
@media (max-width: 768px) {
  .space-y-6 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
